fastapi
uvicorn[standard]
pydantic
python-multipart

Flask
Flask-Cors

python-socketio
python-jose
passlib[bcrypt]

requests
aiohttp
peewee
peewee-migrate
psycopg2-binary
PyMySQL
bcrypt

boto3

argon2-cffi
APScheduler
google-generativeai

langchain
langchain-community
langchain-chroma

fake-useragent
chromadb
sentence-transformers
pypdf
docx2txt
python-pptx
unstructured
Markdown
pypandoc
pandas
openpyxl
pyxlsb
xlrd
validators

opencv-python-headless
rapidocr-onnxruntime

fpdf2
rank-bm25

faster-whisper

PyJWT[crypto]

black
langfuse
youtube-transcript-api
pytube

extract_msg
pydub
duckduckgo-search